# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
myenv/

# Jupyter Notebook
.ipynb_checkpoints

# logs
*.log

# Temporary files
*.tmp
*.temp

# JSON files that might contain sensitive information
accounts.json
.env

# Byte-compiled files
*.pyc

# VS Code files
.vscode/
.idea/

# Backup files
*~
